.header {
  position: fixed;
  top: 0;
  height: auto;
  z-index: 100;
  left: 0;
  pointer-events: none;

  &__dynamic-content {
    width: 75%;
    p {
      margin: 0;
    }
  }

  &__information-link {
    position: fixed;
    top: 0;
    right: 0;
    pointer-events: all;
    p {
      color: black;
    }
  }
}
