.image-grid {
  max-height: 100vh;
  display: flex;
  margin-bottom: 50px;

  &__the-grid {
    display: grid;
    gap: 10px;
  }

  @media (max-width: 750px) {
    display: block;
  }
}

.image-grid__the-grid--desktop {
  display: grid;
  @media (max-width: 750px) {
    display: none;
  }
}
.image-grid__the-grid--mobile {
  display: none;
  @media (max-width: 750px) {
    display: grid;
  }
}
