.image {
  object-fit: contain;
  height: 100vh;
  @include media-breakpoint-up(mx) {
    object-fit: cover;
  }

  width: 100%;

  @include media-breakpoint-up("lg") {
    &--quarter {
      width: 25%;
    }
    &--three-quarter {
      width: 75%;
    }
  }
}

.imageScale {
  width: 50%;
  @include media-breakpoint-up(md) {
    width: 25%;
  }
}

.imageGroupWrap {
  flex-wrap: wrap;
}
