.work-text {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 50%;

  &__primary {
    h1 {
      font-size: 30px;
    }
  }

  &__secondary {
    position: absolute;
    bottom: 1.5rem;
    left: 1rem;

    p {
      font-size: 17.5px;
      line-height: 19.16px;
      margin: 0;
    }
  }
}
