@font-face {
  font-family: Reader;
  src: url("../../static/font/reader/Reader-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: Reader;
  src: url("../../static//font/reader/Reader-Medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: Reader;
  src: url("../../static//font/reader/Reader-Medium\ Italic.otf");
  font-weight: 400;
  font-style: italic;
}

body {
  font-family: Reader;
}
