@import "./config/font";
@import "./components/page";
@import "./components/header";
@import "./components/homepage";
@import "./components/work";

$margin: 2rem;

p {
  font-family: Reader;
  font-size: 40px;
  line-height: 40px;
  font-weight: 500;
  margin-bottom: $margin;
}

a {
  color: black;
}
a:hover {
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

::selection {
  background: transparent;
  color: lightgray;
}

strong {
  font-weight: 500;
}

.image-class {
  max-width: 400px;
  margin-bottom: $margin;
}

.link-class {
  color: inherit;
  text-decoration: underline;

  &:hover {
    color: gray;
  }
}

@import "../../node_modules/bootstrap/dist/css/bootstrap.css";
