@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "./config/font";
@import "./components/page";
@import "./components/header";
@import "./components/homepage";
@import "./components/work";
@import "./components/image-group";
@import "./components/rich-text";
@import "./components/footer";
@import "./components/image-grid";
@import "./components/work-text";

$margin: 2rem;

p {
  font-family: Reader;
  font-size: 30px;
  line-height: 40px;
  font-weight: 500;
  margin-bottom: $margin;

  @include media-breakpoint-down("md") {
    font-size: 16px;
  }
}

a {
  color: black;
}
a:hover {
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

::selection {
  background: transparent;
  color: lightgray;
}

strong {
  font-weight: 500;
}

.image-class {
  max-height: 100vh;
  height: 100%;
  margin-bottom: $margin;

  @include media-breakpoint-down("md") {
    width: 100%;
  }
}

.link-class {
  color: inherit;
  text-decoration: underline;

  &:hover {
    color: gray;
  }
}

.mobile-project-footer {
  position: fixed;
  bottom: 0;
  font-size: 29px;
  @include media-breakpoint-down("md") {
    padding: 5px;
  }
  * {
    margin: 0;
    @include media-breakpoint-down("md") {
      font-size: 16px;
      line-height: 21px;
    }
  }
}

.image-group-detector {
  position: absolute;
  top: 200px;
  height: 100px;
  width: 100%;
  background: green;
}

.slice-wrap {
  margin-top: 100px;
}

@import "../../node_modules/bootstrap/dist/css/bootstrap.css";
