@import "./config/font";
@import "./components/page";
@import "./components/header";

p {
  font-family: Reader;
  font-size: 33px;
  line-height: 37.29px;
  font-weight: 500;
}

a {
  color: black;
}
a:hover {
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

::selection {
  background: transparent;
  color: lightgray;
}

.mainContentWrap {
  position: absolute;
  top: 100px;
}

strong {
  font-weight: 500;
}

@import "../../node_modules/bootstrap/dist/css/bootstrap.css";
