@font-face {
  font-family: Reader Regular;
  src: url("../../static/font/reader/Reader-Regular.otf");
}

@font-face {
  font-family: Reader Medium;
  src: url("../../static//font/reader/Reader-Medium.otf");
}

@font-face {
  font-family: Reader Medium Italic;
  src: url("../../static//font/reader/Reader-Medium\ Italic.otf");
}

body {
  font-family: Reader Regular !important;
}

.bold {
  font-family: Reader Medium;
}

.italic {
  font-family: Reader Medium Italic;
}

.mainContentWrap {
  position: absolute;
  top: 100px;
}

a {
  color: black;
}
a:hover {
  text-decoration: none !important;
}
